@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --background: #fff;
    --primary: #829BB0;
    --border: #829bb03b;
    --dark: #304455;
    --highlight: #D81F26;
    --black: #000000;
    --body: rgb(201, 201, 201);
    --main: rgb(247, 247, 247);
}

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    background: var(--body);
    padding: 20px 40px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img {
    overflow: hidden;
}

.container {
    position: relative;
    height: 100%;
    width: 100%;
    background: var(--background);
    border-radius: 15px;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: grid;
    grid-template-columns: 200px auto 70px;
}

.container .sidebar {
    position: relative;
    height: 100%;
    padding: 45px 40px;
}

.sidebar #btn {
    position: absolute;
    right: 25px;
    line-height: 50px;
}

.sidebar .logo {
    font-size: 25px;
    font-weight: 700;
    color: var(--dark);
}

.sidebar ul {
    width: 100%;
    list-style: none;
    margin-top: 20px;
}

.sidebar ul a {
    text-decoration: none;
    color: var(--primary);
}

.sidebar ul a:hover {
    color: var(--dark);
}

.sidebar ul li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 25px;
    width: 100%;
    color: var(--primary);
    margin-bottom: 15px;
    font-size: 12px;
}

.sidebar ul li a {
    display: flex;
    gap: 5px;
}

.sidebar ul li :not(.title) {
   font-size: 14px;
   font-weight: 600;
}

.sidebar ul li.active a {
    color: var(--black);
}

.sidebar ul li.active i {
    color: var(--highlight);
}

.sidebar ul li.active::before {
    content: '';
    position: absolute;
    left: 0;
    height: 25px;
    width: 4px;
    border-radius: 25%;
    background: var(--highlight);
}

.container .main {
    position: relative;
    height: 100%;
    padding: 25px;
    background: linear-gradient(to right bottom,var(--background),var(--main));
    border-inline: 1px solid var(--border);
    overflow-y: scroll;
}

::-webkit-scrollbar { width: 3px; border-radius: 10px; height: 6px;}
::-webkit-scrollbar-button {display: none;}
::-webkit-scrollbar-track {background: #e6e6e6;border-radius: 10px;}
::-webkit-scrollbar-thumb {background: #a1b0bd; border-radius: 10px;}

.main header {
    height: 55px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main header .search-btn {
    height: 55px;
    width: 450px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.search-btn .left-right  {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-btn .left-right a {
    font-size: 18px;
    color: var(--black);
    transition: color 0.1s ease;
}

.search-btn .left-right a:hover {
    color: var(--highlight);
}

.search-btn .search-box {
    height: 40px;
    width: 350px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 25px;
}

.search-box input {
    width: 300px;   
    border: none;
    outline: none;
    background: none;
}

.search-box i {
    cursor: pointer;
    transition: color 0.1s ease;
}

.search-box i:hover {
    color: var(--highlight);
}

.main header .profile {
    height: 100%;
    min-width: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.profile .buttons a {
    position: relative;
    font-size: 18px;
    margin-inline: 10px;
    color: var(--black);
    cursor: pointer;
    transition: color 0.1s ease;
    text-decoration: none;
}

.profile .buttons a:hover {
    color: var(--highlight);
}

.profile .buttons a::after {
    content: '';
    position: absolute;
    right: -5px;
    top: -2px;
    aspect-ratio: 1;
    width: 8px;
    background: var(--highlight);
    border-radius: 50%;
}

.profile .buttons a:nth-child(1)::after {
    display: none;
}

.profile .name h3 {
    font-size: 1rem;
}

.profile h3 span {
    font-size: 0.7em;
    color: var(--primary);
}

.profile .img {
    aspect-ratio: 1/1;
    width: 45px;
    background: gold;
    border-radius: 50%;
    outline: 2px solid var(--dark);
    outline-offset: 3px
}

.main .poster {
    position: relative;
    aspect-ratio: 16/9;
    width: 100%;
    background: url(files/witcher-4.jpg) no-repeat top;
    background-size: cover;
    border-radius: 25px;
    margin-top: 15px;
    padding: 35px 45px;
    color: #fff;
    overflow: hidden;
}

.poster .poster-img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    left: 0;
    bottom: 0;
    display: none;
}

.poster .views {
    display: flex;
    height: 20px;
   
}

.poster #count {
    width: fit-content;
    padding: 5px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    font-size: 12px;
    line-height: 10px;
    z-index: 1;
}

.poster .users {
    display: flex;
    margin-inline: 15px;
    gap: 5px;
    align-items: center;
    z-index: 1;
}

.users .img {
    aspect-ratio: 1;
    width: 20px;
    border-radius: 50%;
    background: tomato;
    margin-left: -10px;
}

.users .img  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.users p {
    font-size: 10px;
}

.poster .info {
    position: absolute;
    min-height: 175px;
    width: 100%;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top,#000,transparent);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 45px;
}

.info .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.content .episodes {
    display: flex;
    gap: 10px;
    font-size: 12px;
}

.info .buttons {
    height: 100px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.buttons #watch {
    position: relative;
    height: 40px;
    width: 80px;
    background: var(--highlight);
    display: grid;
    place-items: center;
    border-radius: 6px;
    cursor: pointer;
}

.buttons #watch:hover {
    box-shadow: 0 0 10px #D81F26;
}

.buttons #add {
    aspect-ratio: 1/1;
    width: 40px;
    background: var(--dark);
    display: grid;
    place-items: center;
    border-radius: 6px;
    cursor: pointer;
}

.buttons #add:hover {
    box-shadow: 0 0 10px var(--dark);
}

.info .posters {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 120px;
    width: 500px;
}

.posters .img {
    aspect-ratio: 16/9;
    width: 140px;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}


.posters .img.active {
    box-shadow: 0 0 5px rgba(185, 185, 185);
}

#poster-1 {
    background: url(files/witcher-4.jpg) no-repeat center;
    background-size: 100%;
}

#poster-2 {
    background: url(files/witcher-2.jpg) no-repeat center;
    background-size: 100%;
}

#poster-3 {
    background: url(files/witcher-1.webp)no-repeat center;
    background-size: 100%;
}

.main h3 {
    color: var(--dark);
}

.main .parties {
    width: 100%;
    margin-top: 15px;
    overflow-x: scroll;
    padding: 20px 0;
}

.parties .title {
    display: flex;
    gap: 8px;
    align-items: center;
    position: sticky;
    left: 0;
}

.parties .cards {
    margin-top: 10px;
    height: fit-content;
    width: fit-content;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
    padding: 0 20px;
}

.cards .card {
    position: relative;
    height: 320px;
    width: 220px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    margin-top: 15px;
}

.card .info {
    height: 150px;
    width: 100%;
    background: linear-gradient(to top,#000,transparent);
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: flex-end;
    padding: 35px 25px;
    color: #fff;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.cards .card:hover .info {
    height: 100%;
    padding: 85px 35px;
    transform: scale(1.2);
}

.info span {
    font-size: 12px;
}

.friends {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    padding-block: 35px;
}

.friends .users {
    aspect-ratio: 1/1;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.friends .add {
    border: 1px solid var(--highlight);
    color: var(--highlight);
    font-size: 16px;
    cursor: pointer;
    display: grid;
    place-items: center;
    background: transparent;
    transition: all 0.2s ease;
}

.friends .add:hover {
    background: var(--highlight);
    color: white;
}


@media (max-width:550px) {
    body {
        padding: 10px;
    }

    .container {
        grid-template-columns: 45px auto;
        grid-template-rows: auto 35px;
    }

    .container .sidebar {
        padding: 45px 15px;
    }

    .sidebar .logo {
        visibility: hidden;
        opacity: 0;
    }

    .sidebar ul li {
        white-space: nowrap;
    }

    .sidebar ul li:is(.title) {
        display: none;
    }

    .sidebar ul li a p {
        display: none;
        background: red;
    }

    .sidebar i {
        width: 100%;
    }

    .sidebar ul li.active::before {
        width: 2px;
    }

    .container .main {
        padding: 5px;
    }

    .main header {
        height: 80px;
        flex-wrap: wrap;
    }

    .main header .search-btn{
        width: 100%;
    }

    .search-btn .left-right  {
        gap: 5px;
    }

    .search-btn .left-right a {
        font-size: 12px;
    }

    .search-btn .search-box {
        width: 80%;
        height: 20px;
    }

    .search-box input {
        width: 100%;  
        font-size: 10px;
    }

    .search-box i {
      margin-inline: 5px;
      font-size: 10px;
    }

    .main header .profile {
        height: 30px;
        width: 100%;
        justify-content: flex-start;
        margin: 0 0 0 15px;
    }

    header .profile .name h3 {
        font-size: 11px;
    }

    header .profile .buttons {
       position: absolute;
       right: 15px;
    }

    .profile .buttons a {
        font-size: 12px;
    }

    header .profile .img {
        width: 28px;
        outline-offset: 3px;
    }

    .main .poster {
        margin-top: 25px;
        padding: 10px 15px;
    }

    .poster .views {
       display: none;
    }

    .poster .info {
        min-height: 100px;
        padding-inline: 15px;
        align-items: flex-end;
    }

    .poster h1 {
        font-size: 0.8em;
    }

    .content .episodes {
        font-size: 6px;
        gap: 2px;
    }

    .info .buttons {
        height: 40px;
        gap: 5px;
    }

    .buttons #watch {
        height: 20px;
        width: 40px;
        font-size: 8px;
    }

    .buttons div * {
        user-select: none;
    }

    .buttons #add  {
        width: 20px;
        font-size: 8px
    }

    .info .posters {
        width: 150px;
        height: fit-content;
        align-items: flex-end;
        justify-content: flex-end;
        margin-bottom: 10px;
        gap: 5px;
    }

    .posters .img {
        aspect-ratio: 1;
        width: 30px;
    }

    #poster-1, #poster-2, #poster-3 {
        background-size: cover;
    }

    .parties .title {
        font-size: 11px;
    }

    .cards .card {
        height: 150px;
        width: 100px;
        border-radius: 8px;
    }

    .card .info {
        height: 75px;
        padding: 15px 5px;
        font-size: 10px;
    }

    .info span {
        font-size: 7px;
    }

    .cards .card:hover {
        transform: none;
        padding: 15px 5px;
    }

    .friends {
        width: 100%;
        flex-direction: row;
        grid-column: span 2;
        grid-row: 2/2;
        padding-block: 2px;
        padding-inline: 10px;
        justify-content: center;
    }

    .friends .users {
        width: 25px;
    }

    .friends .add  {
        font-size: 8px;
    }
}