@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --background: #fff;
    --primary: #829BB0;
    --border: #829bb03b;
    --dark: #304455;
    --highlight: #D81F26;
    --black: #000000;
    --body: rgb(201, 201, 201);
    --main: rgb(247, 247, 247);
}

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    background: var(--body);
    padding: 20px 40px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img {
    overflow: hidden;
}

.container {
    position: relative;
    height: 100%;
    width: 100%;
    background: var(--background);
    border-radius: 15px;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: grid;
    grid-template-columns: 200px auto 70px;
}

.container .sidebar {
    position: relative;
    height: 100%;
    padding: 45px 40px;
}

.sidebar .logo {
    font-size: 25px;
    font-weight: 700;
    color: var(--dark);
}

.sidebar ul {
    width: 100%;
    list-style: none;
    margin-top: 20px;
}

.sidebar ul a {
    text-decoration: none;
    color: var(--primary);
}

.sidebar ul a:hover {
    color: var(--dark);
}

.sidebar ul li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 25px;
    width: 100%;
    color: var(--primary);
    margin-bottom: 15px;
    font-size: 12px;
}

.sidebar ul li :not(.title) {
   font-size: 14px;
   font-weight: 600;
}

.sidebar ul li.active a {
    color: var(--black);
}

.sidebar ul li.active i {
    color: var(--highlight);
}

.sidebar ul li.active::before {
    content: '';
    position: absolute;
    left: 0;
    height: 25px;
    width: 4px;
    border-radius: 25%;
    background: var(--highlight);
}

.container .main {
    position: relative;
    height: 100%;
    padding: 25px;
    background: linear-gradient(to right bottom,var(--background),var(--main));
    border-inline: 1px solid var(--border);
    overflow-y: scroll;
}

::-webkit-scrollbar { width: 3px; border-radius: 10px; height: 6px;}
::-webkit-scrollbar-button {display: none;}
::-webkit-scrollbar-track {background: #e6e6e6;}
::-webkit-scrollbar-thumb {background: #a1b0bd; border-radius: 10px;}

.main header {
    height: 55px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main header .search-btn {
    height: 55px;
    width: 450px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.search-btn .left-right  {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-btn .left-right a {
    font-size: 18px;
    color: var(--black);
}

.search-btn .search-box {
    height: 40px;
    width: 350px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 25px;
}

.search-box input {
    width: 300px;   
    border: none;
    outline: none;
    background: none;
}

.main header .profile {
    height: 100%;
    min-width: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.profile .buttons i {
    font-size: 18px;
    margin-inline: 10px;
    color: var(--black);
}

.profile .name h3 {
    font-size: 1rem;
}

.profile h3 span {
    font-size: 0.7em;
    color: var(--primary);
}

.profile .img {
    aspect-ratio: 1/1;
    width: 50px;
    background: gold;
    border-radius: 50%;
}

.main .poster {
    position: relative;
    aspect-ratio: 16/9;
    width: 100%;
    background: url(files/witcher-4.jpg) no-repeat top;
    background-size: cover;
    border-radius: 25px;
    margin-top: 15px;
    padding: 35px 45px;
    color: #fff;
    overflow: hidden;
}

.poster .poster-img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    left: 0;
    bottom: 0;
    display: none;
}

.poster .views {
    display: flex;
    height: 20px;
}

.poster #count {
    width: fit-content;
    padding: 5px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    font-size: 12px;
    line-height: 10px;
}

.poster .users {
    display: flex;
    margin-inline: 15px;
    gap: 5px;
    align-items: center;
}

.users .img {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: tomato;
    margin-left: -10px;
}

.users p {
    font-size: 10px;
}

.poster .info {
    position: absolute;
    min-height: 175px;
    width: 100%;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top,#000,transparent);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 45px;
}

.info .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.content .episodes {
    display: flex;
    gap: 10px;
    font-size: 12px;
}

.info .buttons {
    height: 100px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.buttons #watch {
    position: relative;
    height: 40px;
    width: 80px;
    background: var(--highlight);
    display: grid;
    place-items: center;
    border-radius: 6px;
    cursor: pointer;
}

.buttons #watch:hover {
    box-shadow: 0 0 10px #D81F26;
}

.buttons #add {
    aspect-ratio: 1/1;
    width: 40px;
    background: var(--dark);
    display: grid;
    place-items: center;
    border-radius: 6px;
    cursor: pointer;
}

.buttons #add:hover {
    box-shadow: 0 0 10px var(--dark);
}

.info .posters {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 120px;
    width: 500px;
}

.posters .img {
    aspect-ratio: 16/9;
    width: 140px;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.posters .img.active {
    box-shadow: 0 0 15px rgba(185, 185, 185);
}

#poster-1 {
    background: url(files/witcher-4.jpg) no-repeat center;
    background-size: 100%;
}

#poster-2 {
    background: url(files/witcher-2.jpg) no-repeat center;
    background-size: 100%;
}

#poster-3 {
    background: url(files/witcher-1.webp)no-repeat center;
    background-size: 100%;
}

.main h3 {
    color: var(--dark);
}

.main .parties {
    width: 100%;
    margin-top: 15px;
    overflow-x: scroll;
    padding: 20px 0;
}

.parties .title {
    display: flex;
    gap: 8px;
    align-items: center;
}

.parties .cards {
    margin-top: 10px;
    height: fit-content;
    width: fit-content;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
    padding: 0 20px;
}

.cards .card {
    position: relative;
    height: 320px;
    width: 220px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
    margin-top: 15px;
}

.card .info {
    height: 150px;
    width: 100%;
    background: linear-gradient(to top,#000,transparent);
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: flex-end;
    padding: 35px 25px;
    color: #fff;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.cards .card:hover .info {
    height: 100%;
    padding: 85px 35px;
    transform: scale(1.2);
}

.info span {
    font-size: 12px;
}

.friends {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    padding-block: 35px;
}

.friends .users {
    aspect-ratio: 1/1;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.friends .add {
    border: 1px solid var(--highlight);
    color: var(--highlight);
    font-size: 16px;
    cursor: pointer;
    display: grid;
    place-items: center;
}


@media (max-width:1100px) {
    .main header .search-btn {
        width: 250px;
    }

    .search-btn .search-box {
        width: 180px;
    }
    .search-box input {
        width: 135px;
    }

    .info .images {
        flex-direction: column;
        height: auto;
        gap: 10px;
        align-items: flex-end;
        padding: 20px 0;
    }
}